streamlit

youtube-transcript-api==1.2.2

google-genai
google-generativeai

langchain
langchain-google-genai
langchain-community
langchain-experimental
langchainhub
langchain-chroma

python-dotenv

gtts

sentence-transformers

pypdf
rapidocr-onnxruntime
requests
